
.obsidian/workspace
.obsidian/app.json
.obsidian/appearance.json
.obsidian/community-plugins.json
.obsidian/core-plugins.json
.obsidian/graph.json
.obsidian/hotkeys.json
.obsidian/plugins/obsidian-git/main.js
.obsidian/plugins/obsidian-git/manifest.json
.obsidian/plugins/obsidian-git/styles.css
.obsidian/themes/Clair de Lune.css
.obsidian/themes/Friendly.css
.obsidian/themes/ITS Theme.css
.obsidian/themes/Obsidian gruvbox.css
.obsidian/themes/Terminal.css
jr-pentester/.obsidian/app.json
*.json
jr-pentester/.obsidian/workspace
jr-pentester/.obsidian/themes/Obsidian gruvbox.css
jr-pentester/.obsidian/themes/Everforest.css
